CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_gehua_ghl-r-001=y
# CONFIG_DRIVER_11AC_SUPPORT is not set
# CONFIG_DRIVER_11N_SUPPORT is not set
# CONFIG_DRIVER_11W_SUPPORT is not set
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6to4=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
# CONFIG_PACKAGE_kmod-mt7603 is not set
# CONFIG_PACKAGE_kmod-mt76x2 is not set
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_redsocks2=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_v2ray=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
# CONFIG_PACKAGE_MAC80211_TRACING is not set
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_wireless-regdb=y
# CONFIG_PACKAGE_wpa-supplicant-mesh-openssl is not set
# CONFIG_PACKAGE_wpa-supplicant-mesh-wolfssl is not set
# CONFIG_PACKAGE_wpa-supplicant-p2p is not set
# CONFIG_PACKAGE_wpad-mesh-openssl is not set
# CONFIG_PACKAGE_wpad-mesh-wolfssl is not set
# CONFIG_PACKAGE_zabbix-extra-mac80211 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_aigale_ai-br100 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_ac1200rm is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_r36m-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_tube-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rp-n53 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-ac51u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n12p is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_asus_rt-n14u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_bdcom_wap2100-sk is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-1166d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-300hp2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_whr-600d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_buffalo_wmr-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_comfast_cf-wr800n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dch-m225 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-510l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-810l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-116-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-922-e2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dovado_tiny-ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_br-6478ac-v2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7476rpc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_ew-7478apc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_elecom_wrh-300cr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_engenius_esr600 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_fon_fon2601 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt300n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_glinet_gl-mt750 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_head-weblink_hdrm200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5661 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5761 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hiwifi_hc5861 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hnet_c108 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac1167gr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac733gr3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iptime_a104ns is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u25awf-h1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u35wf is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlw221 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kingston_mlwg2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lava_lr-25g001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lenovo_newifi-y1s is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_linksys_e1700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_microduino_microwrt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex2700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex3700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_ex6130 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_netgear_wn3000rp-v3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-4m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_nexx_wt3020-8m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ohyeah_oy-0001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_k2g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1208 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_psg1218b is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_cs-qr10 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_db-wrt01 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-750dhp is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex300np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_planex_mzk-ex750np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7530-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-mt7610e-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ralink_mt7620a-v22sg-evb is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ravpower_wd03 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sanlinking_d240 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_sercomm_na930 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c2-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c20i is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-c50-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_archer-mr200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re200-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_re210-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_vonets_var11n-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrtnode_wrtnode is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-r3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_yukai_bocco is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-ape522ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-cpe102 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wa05 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-5g-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we1026-h-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we2026 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-32m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-wr8305rt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zte_q7 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-omni-ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zyxel_keenetic-viva is not set
# CONFIG_TARGET_ramips_mt7620_Default is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_alfa-network_awusfree1 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_buffalo_wcr-1166ds is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_cudy_wr1000 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_d-team_pbr-d1 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_duzun_dm06 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_glinet_gl-mt300n-v2 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_glinet_microuter-n300 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_glinet_vixmini is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_hilink_hlk-7628n is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_hiwifi_hc5661a is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_hiwifi_hc5761a is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_hiwifi_hc5861b is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_iptime_a3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_iptime_a604m is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_mediatek_linkit-smart-7688 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_mediatek_mt7628an-eval-board is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_mercury_mac1200r-v2 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_netgear_r6120 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_onion_omega2 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_onion_omega2p is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_rakwireless_rak633 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_skylab_skw92a is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tama_w06 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_totolink_a3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_totolink_lr1200 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c20-v4 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c20-v5 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c50-v3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c50-v4 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_re200-v2 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_re305-v1 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-mr3020-v3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-mr3420-v5 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wa801nd-v5 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr802n-v4 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr840n-v4 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr840n-v5 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr841n-v13 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr841n-v14 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr842n-v5 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_tl-wr902ac-v3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_unielec_u7628-01-16m is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_vocore_vocore2 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_vocore_vocore2-lite is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_wavlink_wl-wn570ha1 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_wavlink_wl-wn575a3 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_widora_neo-16m is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_widora_neo-32m is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_wiznet_wizfi630s is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_wrtnode_wrtnode2p is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_wrtnode_wrtnode2r is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_xiaomi_mir4a-100m is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_xiaomi_miwifi-nano is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_zbtlink_zbt-we1226 is not set
# CONFIG_TARGET_ramips_mt76x8_DEVICE_zyxel_keenetic-extra-ii is not set
# CONFIG_TARGET_ramips_mt76x8_Default is not set
# CONFIG_TARGET_x86_64 is not set
# CONFIG_TARGET_x86_64_Generic is not set
# CONFIG_TARGET_x86_generic is not set
# CONFIG_TARGET_x86_geode is not set
# CONFIG_TARGET_x86_legacy is not set
# CONFIG_TARGET_x86_zen is not set
